---
import BlogGrid from '@components/ui/blogGrid.astro'
import PageLayout from '../layouts/PageLayout.astro'
import ScrollToTop from '@components/utils/scrollToTop.astro'
import ScrollProgress from '@components/utils/scrollProgress.astro'

import { newtClient } from '../lib/newt'

import type { BlogArticles } from '../types/BlogArticles.astro'

const { items: blogs } = await newtClient.getContents<BlogArticles>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body', 'tags', 'coverImage', 'category', '_sys'],
  },
})
---

<PageLayout
  title="KAMELOG"
  description="NewtとAstroを利用したブログです。日々のアウトプットを残していきます。"
>
  <hgroup class="space-y-4 mb-12">
    <h2 class="theme-color text-center text-3xl md:text-5xl font-bold">
      KAMELOG
    </h2>
    <p class="theme-color text-center text-sm md:text-base">
      犬好きエンジニア歴1年の私的ブログです。
    </p>
  </hgroup>
  <BlogGrid blogs={blogs} />
  <ScrollProgress />
  <ScrollToTop />
</PageLayout>
