---
import Layout from '../layouts/Layout.astro'

import type { BlogArticles } from '../types/blog-articles.astro';

import { newtClient } from '../lib/newt'

const { items: blogs } = await newtClient.getContents<BlogArticles>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body'],
  },
})
---

<Layout title="kamelog" description="NewtとAstroを利用したブログです">
  <main>
    <ul>
      {
        blogs.map((blog) => {
          return (
            <li>
              <a href={`/blogs/${blog.slug}`}>{blog.title}</a>
            </li>
          )
        })
      }
    </ul>
  </main>
</Layout>
