---
import PageLayout from 'src/layouts/PageLayout.astro'

import { newtClient } from '../../lib/newt'

import type { BlogArticles } from '../../types/BlogArticles.astro'

export const getStaticPaths = async () => {
  const { items: blogs } = await newtClient.getContents<BlogArticles>({
    appUid: 'blog',
    modelUid: 'article',
    query: {
      select: ['title', 'slug', 'body'],
    },
  })
  return blogs.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }))
}

const { blog } = Astro.props
---

<PageLayout title={blog.title} description="投稿詳細ページです">
  <h2>{blog.title}</h2>
  <article set:html={blog.body} />
</PageLayout>
