---

---

<div
  id="scroll-progress"
  class="fixed bottom-4 left-4 bg-purple-800 dark:bg-custom-purple text-white px-2 py-1 rounded-md z-50"
>
  0%
</div>

<script>
  function setupScrollProgress() {
    const scrollProgress = document.getElementById('scroll-progress')

    function updateScrollProgress() {
      const scrollPosition = window.scrollY
      const totalHeight =
        document.documentElement.scrollHeight - window.innerHeight
      const scrollPercentage = Math.round((scrollPosition / totalHeight) * 100)

      if (scrollProgress) {
        scrollProgress.textContent = `${scrollPercentage}%`
      }
    }

    window.addEventListener('scroll', updateScrollProgress)
    window.addEventListener('resize', updateScrollProgress)
    updateScrollProgress()
  }

  // ページ読み込み時に実行
  document.addEventListener('DOMContentLoaded', setupScrollProgress)

  // ビュートランジション後に実行
  document.addEventListener('astro:after-swap', setupScrollProgress)
</script>
